/* css styles */
#title-block-header {
  margin-block-end: 1rem;
  position: relative;
  margin-top: -1px;
  height: 500px;
}

.quarto-title-banner {
  margin-block-end: 10rem;
  position: relative;
  margin-top: -30px;
  height: 140%;
}

.title {
  font-size: 350%;
}

.subtitle {
  font-size: 150%;
}

</style>